
* {
	padding:0;
	margin:0;
}



div#wrapper {
	width:940px;
	margin:20px auto;
	background-color:#fff;
}

header {
	/*background-color:blue;*/
	height:100px;
    border-bottom:2px #000 solid;
    text-align:center;
    padding-top:30px;
}

aside {
	width:340px;
	height:300px;
	float:left;
	padding-top:10px;
    padding-left:10px;
}

main {
	
	width:500px;
	height:400px;
	float:right;
	padding-right:10px;
    padding-left:10px;
    padding-top:10px;
    border-left:1px dotted #666;
}

body {
background:#dcdcdc;
font-size:100%;
font-family:arial;
line-height:1.5;
    
}

    
h1 {
    font-family:times;
	font-size:1.8em;
	padding-top:10px;
}


p {
	padding:5px;
	margin-bottom:5px;
}

footer {
    height: 50px;
    clear: both;
    margin-bottom: 20px;
    border-top:1px #666 dotted;
}
